

.nav1{
    margin-top: -70px;
}
.nav1 ul li{
display: inline;
list-style: none;



}
.nav1 a{
    color: gray;
    font-family: "Arial";
    text-decoration: none;
    padding: 19px;
    margin-left: 50px;

   
    

}

.botton a {
    
    
    background-color: #FF8D29;
    margin-left: 890px;     
    border-radius: 5px;
    text-decoration: none;
    border: #FFCD38 solid;
    color: black;
    
}


.lista ul li{
    display: inline;
    list-style: none;
    padding-left: 45px;
    margin-left: 5px;
}

.column img{
    width: 420px;
    height: 250px;
    border: #FF8D29 solid;
    margin-left: 20px;
    margin-top: 20px;
    
 } 
    
  



h2 {
    text-align: center;
    margin-top: 120px;
}
p{
    text-align: center;
}
.click {

    width: 140px;
    height: 40px;
    background-color: #FF8D29;
    border-radius: 5px;
    margin-left: 150px;

    
   
    
}
.click a{
    color: black;
    text-align: center;
    padding-left: 20px;
    margin-top: 30px;
    list-style: none;
}





@media (max-width:920px) {
    .container{
        flex-wrap: wrap;
    }
}